
*{
    background-color:#fff4ee;
}

h1{
    color: #f70016;
}

dt{
    margin-top: 0.7em;
    margin-bottom: 0.3em;
}

/*
 Paleta de colores [Discrete] #f70016 #bb8377 #fff4ee #4a271f
 Generada https://mycolor.space/?hex=%23F70016&sub=1
*/